node_modules
# Keep environment variables out of version control
.env

/generated/prisma


# Build output
dist/
build/


# VSCode settings
.vscode/

# Prisma generated / local files
prisma/migrations/
prisma/dev.db

# Logs
*.log
